@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--background);
  --font-sans: Satoshi Variable
}


body {
  color: var(--background);
  font-family: 'SatoshiVariable';
}


